---
import "@fontsource/open-sans/400.css";
import "@fontsource/open-sans/700.css";
import DarkModeSwitch from "../components/DarkModeSwitch.tsx";
import "./global.scss";

export interface Props {
  title: string;
  summary: string;
}
const props = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en-US" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{props.title}</title>
    <link rel="canonical" href="https://mvolfik.github.io/" />
    <link rel="icon" type="image/png" sizes="64x64" href="/favicon.png" />
    <meta name="description" content={props.summary} />
    <meta property="og:title" content={props.title} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:description" content={props.summary} />
    <meta property="og:url" content="https://mvolfik.github.io/" />
    <meta property="og:site_name" content="Matěj Volf" />
    <meta property="og:type" content="website" />
    <meta property="twitter:title" content={props.title} />
    <script>
      import "../lib/tracker.ts";
      document.querySelectorAll("a").forEach((e) => {
        const lastChild = e.lastChild;
        if (lastChild.nodeType === Node.TEXT_NODE) {
          lastChild.textContent = lastChild.textContent.trimEnd();
        }
      });
    </script>
  </head>
  <body>
    <DarkModeSwitch client:only />
    <slot />
  </body>
</html>
