---
import BaseLayout from "./Base.astro";
import type { Props as ProjectProps } from "./project.astro";
import { intersperse } from "../lib/utils.ts";
import { Picture } from "astro-imagetools/components";

export interface Props {
  title: string;
  image: string;
  summary: string;
  links: Array<{ name: string; href: string }>;
  skills: Record<string, number>;
  jobs: Array<{
    role: string;
    company: string;
    timespan: string;
    description: string;
    tags: Array<string>;
  }>;
}

const projects = await Astro.glob<ProjectProps>("../pages/projects/*.md");
const props = Astro.props.content as Props;
---

<BaseLayout title={props.title} summary={props.summary}>
  <div class="wrapper">
    <header>
      <h1><a href="https://mvolfik.github.io/">Matěj Volf</a></h1>
      <div style="max-width: 20em; margin: 0 auto;">
        <Picture
          src={props.image}
          alt="Portrait"
          format={["webp"]}
          loading="eager"
          sizes="20em"
        />
      </div>
      <p class="location">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 576 512"
          style="height: 1em;"
        >
          <path
            fill="currentColor"
            d="M288 0c-69.59 0-126 56.41-126 126 0 56.26 82.35 158.8 113.9 196.02 6.39 7.54 17.82 7.54 24.2 0C331.65 284.8 414 182.26 414 126 414 56.41 357.59 0 288 0zm0 168c-23.2 0-42-18.8-42-42s18.8-42 42-42 42 18.8 42 42-18.8 42-42 42zM20.12 215.95A32.006 32.006 0 0 0 0 245.66v250.32c0 11.32 11.43 19.06 21.94 14.86L160 448V214.92c-8.84-15.98-16.07-31.54-21.25-46.42L20.12 215.95zM288 359.67c-14.07 0-27.38-6.18-36.51-16.96-19.66-23.2-40.57-49.62-59.49-76.72v182l192 64V266c-18.92 27.09-39.82 53.52-59.49 76.72-9.13 10.77-22.44 16.95-36.51 16.95zm266.06-198.51L416 224v288l139.88-55.95A31.996 31.996 0 0 0 576 426.34V176.02c0-11.32-11.43-19.06-21.94-14.86z"
          >
          </path>
        </svg>
        Prague, Czech Republic
      </p>
      <p id="bio">{props.summary}</p>

      <p class="profile-links">
        {
          intersperse(
            props.links.map(({ name, href, rel }) => (
              <a target="_blank" href={href} rel={rel}>
                {name}
              </a>
            )),
            " | "
          )
        }
      </p>
      <h3>Skills</h3>
      <div class="skills">
        {
          Object.entries(props.skills).map(([name, value], i) => (
            <>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 1">
                <g class="lower">
                  <rect x="0.5" y="0.4" height="0.2" width="5" />
                  <circle cx="0.5" cy="0.5" r="0.5" />
                  <circle cx="1.75" cy="0.5" r="0.5" />
                  <circle cx="3.00" cy="0.5" r="0.5" />
                  <circle cx="4.25" cy="0.5" r="0.5" />
                  <circle cx="5.50" cy="0.5" r="0.5" />
                </g>
                <mask id={`cover-${i}`}>
                  <rect x="0" y="0" width="100%" height="100%" fill="white" />
                  <rect
                    x={(value / 5) * 6}
                    y="0"
                    width="100%"
                    height="100%"
                    fill="black"
                  />
                </mask>
                <g mask={`url(#cover-${i})`} class="upper">
                  <rect x="0.5" y="0.4" height="0.2" width="5" />
                  <circle cx="0.5" cy="0.5" r="0.5" />
                  <circle cx="1.75" cy="0.5" r="0.5" />
                  <circle cx="3.00" cy="0.5" r="0.5" />
                  <circle cx="4.25" cy="0.5" r="0.5" />
                  <circle cx="5.50" cy="0.5" r="0.5" />
                </g>
              </svg>
              <span>{name}</span>
            </>
          ))
        }
      </div>
    </header>
    <main>
      <h2>Resume</h2>
      <hr />
      <slot />

      <h3 id="work-experience">Work experience</h3>
      {
        props.jobs.map(({ role, company, timespan, description, tags }) => (
          <>
            <h4>
              <span class="job-role">{role}</span>
              at
              <span class="job-company">{company}</span>
              <span class="tags">
                {intersperse(
                  tags.map((tag) => <span>{tag}</span>),
                  ", "
                )}
              </span>
              <span class="timespan">{timespan}</span>
            </h4>
            <p>{description}</p>
          </>
        ))
      }

      <h3 id="projects">Projects</h3>
      {
        projects
          .sort(
            (a, b) =>
              b.frontmatter.ordering_value - a.frontmatter.ordering_value
          )
          .map(({ frontmatter, url }, i) => (
            <>
              <h4 class:list={[{ noprint: i >= 2 }]}>
                <a target="_blank" href={frontmatter.links[0].href}>
                  {frontmatter.name}
                </a>
                <span class="tags">
                  {intersperse(
                    frontmatter.tags.map((tag) => <span>{tag}</span>),
                    ", "
                  )}
                </span>
                <span class="timespan">{frontmatter.timespan}</span>
              </h4>
              {frontmatter.description.split(/\n\w*\n/).map((paragraph) => (
                <p class:list={[{ noprint: i >= 2 }]}>{paragraph}</p>
              ))}
              {frontmatter.links.length > 1 || frontmatter.read_more ? (
                <p class:list={[{ noprint: i >= 2 }]}>
                  {intersperse(
                    frontmatter.links.map(({ name, href }) => (
                      <a target="_blank" href={href}>
                        {name}
                      </a>
                    )),
                    " | "
                  )}
                  {frontmatter.read_more ? (
                    <>
                      | <a href={url}>Read more&hellip;</a>
                    </>
                  ) : (
                    ""
                  )}
                </p>
              ) : (
                ""
              )}
            </>
          ))
      }
    </main>
    <footer>
      <p>
        <small>
          <span class="noprint">
            Powered by <a target="_blank" href="https://astro.build/">Astro</a>;
            Hosted on GitHub Pages
          </span>
          <span class="printonly">
            This resume was printed from <a href="https://mvolfik.github.io/"
              >https://mvolfik.github.io/
            </a> on {new Date().toLocaleDateString()}
          </span>
        </small>
      </p>
    </footer>
  </div>
</BaseLayout>

<script>
  document.querySelector("a[href^='https://mailhide.io']").href = atob(
    "tFWasR3b6gWZsx2bA1mdvxmZptmLj9Wb".split("").reverse().join("")
  )
    .split("")
    .reverse()
    .join("");
</script>

<style lang="scss">
  @use "../lib/tags.scss";
  @use "sass:list";

  .skills {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.7em;
    justify-content: center;
    align-items: center;

    & > span {
      text-align: left;
    }

    & > svg {
      height: 0.95em;
      align-self: right;

      .lower {
        fill: #c7d0d9;
      }

      .upper {
        fill: #099812;
      }
    }
  }

  main h4 {
    .tags,
    .timespan {
      white-space: nowrap;
    }

    @for $i from 0 to 6 {
      &:nth-of-type(6n + #{$i}) .tags {
        @include tags.tags($i);
      }

      &:nth-of-type(6n + #{$i}) {
        $permut: list.nth(tags.$colors-permutations, ($i % 6) + 1);

        .job-role {
          color: list.nth($permut, 1);
        }

        .job-company {
          color: list.nth($permut, 3);
        }
      }
    }
  }

  /* layout things */
  div.wrapper {
    display: grid;
  }

  header {
    margin: 0 auto;

    /* overriden on wide: */
    max-width: 30em;
    text-align: center;
  }

  @media (max-width: 30em) {
    div.wrapper {
      margin-top: 1.5em;
    }
  }

  .location {
    font-size: 1.4em;

    @media print and (max-width: 60em) {
      font-size: 1.1em;
    }
  }

  @media print, (min-width: 60em) {
    div.wrapper {
      grid-template-columns: min(30vw, 20em) minmax(auto, 55em);
      grid-template-rows: auto 1fr;
      grid-column-gap: 2em;
      justify-content: center;
    }

    .skills {
      justify-content: left;
    }

    header {
      width: 100%;

      /* overrides */
      max-width: 20em;
      text-align: left;
    }

    main {
      grid-area: 1 / 2 / 3 / 2;
    }
  }

  @media print {
    main {
      grid-area: initial;
    }
    footer {
      grid-column: 1 / 3;
    }
  }
</style>
